{% extends 'core/_base.html' %}
{% load static %}
{% block content %}

    <h3>Farm Info</h3>
    owner : {{ farm.owner }}<br>
    name : {{ farm.name }}

    <div>
        <h3>기본 동물 목록(누르면 소리가 납니다!)</h3>
        {% if farm.donkey %}
            <button type="button">
                <img src="{% static 'core/images/donkey.png' %}" width="100px">
            </button>
        {% endif %}

        {% if farm.dog %}
            <button type="button">
                <img src="{% static 'core/images/dog.png' %}" width="100px">
            </button>
        {% endif %}

        {% if farm.cat %}
            <button type="button">
                <img src="{% static 'core/images/cat.png' %}" width="100px">
            </button>
        {% endif %}

        {% if farm.rooster %}
            <button type="button">
                <img src="{% static 'core/images/rooster.png' %}" width="100px">
            </button>
        {% endif %}

        {% if farm.chick %}
            <button type="button">
                <img src="{% static 'core/images/chick.png' %}" width="100px">
            </button>
        {% endif %}
    </div>

    <div>
        <h3>커스텀 동물 목록</h3>
        {% for farmer in farmers %}
            {% if farmer.is_placed %}
                <div>
                    name : {{ farmer.custom_animal.name }}
                    {% if farmer.custom_animal.photo %}
                        <img src="{{ farmer.custom_animal.photo.url }}" width="100px" alt="farmer.custom_animal.name">
                    {% endif %}
                    {% if farmer.custom_animal.audio %}
                        <audio controls src="{{ farmer.custom_animal.audio.url }}"></audio>
                    {% endif %}
                    <hr>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <a href="{% url 'edit_farm' farm.pk %}">
        <button type="button">농장 수정하기</button>
    </a>
    <br>
    <a href="{% url 'farm_list' %}">
        <button type="button">농장 목록</button>
    </a>
{% endblock %}